.container {
    display: flex;
    
  }

  .right-container {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 80vh;
    margin-left: 20px;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .main-area {
    margin-top: 20px;
    flex-grow: 1;
    background-color: #ffafaf;
    min-height: 300px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .form-element {
    margin-bottom: 10px;
    cursor: move;
  }
  